<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ygst.cenggeche">

    <!-- Required -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <!-- 高德地图定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7d2bcd2161784132c4524623fbbd951f" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>
        <!--启动欢迎页-->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--测试页-->
        <activity android:name=".ui.test.TestActivity" />
        <!--测试页2-->
        <activity android:name=".ui.test.TestActivity2" />
        <!--测试页3-->
        <activity android:name=".ui.test.TestActivity3" />

        <!--WebView页-->
        <activity android:name=".webview.WebViewActivity" />
        <!--WebView页2-->
        <activity android:name=".webview.WebViewActivity2" />
        <!--引导页-->
        <activity android:name=".ui.activity.guidepage.GuidePageActivity" />
        <!--引导页1-->
        <activity android:name=".ui.activity.guidepage.GradientBackgroundExampleActivity" />
        <!--引导页2-->
        <activity android:name=".ui.activity.guidepage.SolidBackgroundExampleActivity" />
        <!--引导页3-->
        <activity android:name=".ui.activity.guidepage.ImageBackgroundExampleActivity" />
        <!--引导页4-->
        <activity android:name=".ui.activity.guidepage.WelcomeGuideActivity" />
        <!--登录页-->
        <activity android:name=".ui.activity.login.LoginActivity" />
        <!--注册页-->
        <activity android:name=".ui.activity.register.RegisterActivity" />
        <!--注册信息页-->
        <activity android:name=".ui.activity.registerinfo.RegisterInfoActivity" />
        <!--重置密码页-->
        <activity android:name=".ui.activity.resetpwd.ResetPwdActivity" />
        <!--主界面1-->
        <activity android:name=".ui.activity.main.MainActivity1" />
        <!--系统通知-->
        <activity android:name=".ui.activity.systemnotify.SystemNotifyActivity" />
        <!--活动公告-->
        <activity android:name=".ui.activity.notice.NoticeActivity" />
        <!--自定义的聊天页-->
        <activity
            android:name=".ui.activity.mychat.MyChatActivity"
            android:launchMode="singleTask"
            android:theme="@style/ChatTheme" />
        <!--添加好友-->
        <activity android:name=".ui.activity.addfriend.AddFriendActivity" />
        <!--联系人列表-->
        <activity android:name=".ui.activity.friendlist.FriendListActivity" />
        <!--黑名单列表-->
        <activity android:name=".ui.activity.friendblacklist.FriendBlackListActivity" />
        <!--新的朋友（好友申请）列表-->
        <activity android:name=".ui.activity.newfriendlist.NewFriendListActivity" />
        <!--好友详细信息-->
        <activity android:name=".ui.activity.friendinfo.FriendInfoActivity" />
        <!--用户（范围是全部用户）详细信息-->
        <activity android:name=".ui.activity.userinfo.UserInfoActivity" />
        <!--展示大图-->
        <activity android:name=".ui.activity.friendinfo.BigPicActivity" />
        <!--好友操作-->
        <activity android:name=".ui.activity.friendoperate.FriendOperateActivity" />
        <!--修改好友备注-->
        <activity android:name=".ui.activity.setnotename.SetNoteNameActivity" />
        <!--举报类型-->
        <activity android:name=".ui.activity.friendoperate.report.ReportTypeActivity" />
        <!--举报他人-->
        <activity android:name=".ui.activity.friendoperate.report.ReportActivity" />
        <!--设置-->
        <activity android:name=".ui.activity.setting.SettingActivity" />


        <!-- 发布行程 -->
        <activity android:name=".ui.activity.releaseplan.ReleaseplanActivity" />

        <!-- 行程信息 -->
        <activity android:name=".ui.activity.travelinfo.TravelInfoActivity" />

        <!-- 确定带上他信息 -->
        <activity android:name=".ui.activity.suretravel.SureTravelActivity"

            />

        <!-- 选择地址 -->
        <activity android:name=".ui.activity.suretravel.SureAddrActivity" />

        <!-- 带上他的发布行程信息 -->
        <activity android:name=".ui.activity.itinerary.ItineraryActivity" />

        <!-- 地理位置检索 -->
        <activity android:name=".ui.activity.releaseplan.retrieval.RetrievalActivity" />
        <!-- 从资料中选取图片 -->
        <activity android:name=".ui.activity.releaseplan.choosepic.ChoosePicActivity" />


        <!-- 确定发布信息 -->
        <activity
            android:name=".ui.activity.releaseplan.surerelease.SureReleaseActivity"
            android:windowSoftInputMode="adjustResize" />
        <!-- 获取车辆信息 -->
        <activity android:name=".ui.activity.releaseplan.cartype.CartypeActivity" />

        <!-- 详细资料-->
        <activity android:name=".ui.activity.alltravelinfo.AllTravelInfoActivity" />

        <!-- 车主/乘客选择行程请求同行接口 -->
        <activity android:name=".ui.activity.peerrequest.PeerRequestActivity" />


        <!-- 车主/乘客选择行程请求同行 选择图片-->
        <activity android:name=".ui.activity.peerrequest.chooseimg.ChooseImgActivity" />


        <!--注册DownloadService-->
        <service android:name=".download.service.DownloadService" />


        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent（自定义消息Push）-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开通知栏的intent（不配置此项，点击默认打开的是程序的主Activity）-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.ygst.cenggeche" />
            </intent-filter>
        </receiver>

        <!--============================图片选择器================================-->
        <activity android:name="com.jarek.imageselect.activity.MainActivity" />
        <activity android:name="com.jarek.imageselect.activity.FolderListActivity" />
        <activity android:name="com.jarek.imageselect.activity.ImageSelectActivity" />
        <activity
            android:name="com.jarek.imageselect.activity.PreviewImageActivity"
            android:theme="@style/Translucent" />

    </application>

</manifest>